.art-container{
          min-height: 100vh;
          position:relative;
          background-color: rgba(0,0,0);
          display:flex;
          align-items: center;
          justify-content: center;
         

}

.art-video{
          max-height: 475px;
}
.art-img{
          max-width: 475px;
          height: auto;
          max-height: 475px;
          image-rendering: -webkit-optimize-contrast;
}
.img-container{
          max-width: 4px !important;
          display: flex;
          align-items: center;
          justify-content: center;
}
.sides{
          background-color: black;
}
.carousel-inner{
          max-width: 475px !important;
          

}