.landing-page-container{
          height: 100vh !important;
          width:100%;
          background-color: rgba(0,0,0,0.7);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
}
.welcome-container{
          width: inherit !important;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
}
.typed-words{
          height: inherit;
          width: inherit;
          color: rgb(227, 248, 242);
          display: flex;
          justify-content: center;
          font-weight: 400;
}
.display-1{
          width: 100vw;
          display: flex;
          color: rgb(227, 248, 242);
          justify-content: center;
          font-weight: 400;
         
}
h1{
          font-size: 6.5vw !important;
}
nav ul {
          list-style-type: none;
          background-color: none !important;
          margin: 0;
          padding: 0;
}
nav ul li {
          --c: #be365f;
          color: var(--c);
          font-size: 16px;
          border: 0.3em solid var(--c);
          border-radius: 0.5em;
          width: 8em;
          height: 3em;
          text-transform: uppercase;
          font-weight: bold;
          font-family: sans-serif;
          letter-spacing: 0.1em;
          text-align: center;
          line-height: 3em;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.5s;
          margin: 1em;
}
nav ul li span {
          position: absolute;
          width: 25%;
          height: 100%;
          background-color: var(--c);
          transform: translateY(150%);
          border-radius: 50%;
          left: calc((var(--n) - 1) * 25%);
          transition: 0.5s;
          transition-delay: calc((var(--n) - 1) * 0.1s);
          z-index: -1;
}
nav ul li:hover {
          color: whitesmoke;
          cursor: pointer;
}
      
nav ul li:hover span {
          transform: translateY(0) scale(2);
          cursor: pointer;
}
      
nav ul li span:nth-child(1) {
          --n: 1;
}
      
nav ul li span:nth-child(2) {
          --n: 2;
}
      
nav ul li span:nth-child(3) {
          --n: 3;
}
      
nav ul li span:nth-child(4) {
          --n: 4;
}
            