.project-container{
          min-height: 100vh;
          position:relative;
          background-color: rgba(0,0,0,.5);
}
.project-content-container{
          top: 20%;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;
}
.project-image{
          display: flex;
          justify-content: center;
}
.basketball{
          width: 80%;
          max-height: 400px !important;
          margin-bottom: 5%;
}


.project-text{
          max-width: 100% !important;
          color: whitesmoke;
}
.title{
          color: whitesmoke;
}
.basketball-anchor{
          color: goldenrod
}